<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github" value="https://nuget.pkg.github.com/shamangamesolution/index.json" />
  </packageSources>
      <packageSourceCredentials>
        <github>
            <add key="Username" value="shamangamesolution" />
            <add key="ClearTextPassword" value="5f92d7f4adfd3ef485975fc4c84e41c452ee55f7" />
        </github>
    </packageSourceCredentials>
</configuration>